.img {
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    padding: 20px;
}
.first {
    background-color: var(--color1);
}
.second {
    background-color: var(--color2);
}
.third {
    background-color: var(--color3);
}
.forth {
    background-color: var(--color4);
}
.color1 {
    color: var(--color1);
    border-color: var(--color1);
}
.color2 {
    color: var(--color2);
    border-color: var(--color2);
}
.color3 {
    color: var(--color3);
    border-color: var(--color3);
}
.color4 {
    color: var(--color4);
    border-color: var(--color4);
}